<ScrollView>
    <StackLayout class="page">
        <Image *ngIf="_viewImage" [src]="_image"></Image>
        <Gif *ngIf="_viewGif" [src]="_gif" height="auto"></Gif>
        <GridLayout rows="*" columns="*,*,*" height="50%" style="vertical-align: bottom" width="100%">
            <Button row="0" col="0" text="Image" (tap)="viewData('image')"></Button>
            <Button row="0" col="1" text="Gif" (tap)="viewData('gif')"></Button>
            <Button row="0" col="2" text="Video" (tap)="viewData('video')"></Button>
        </GridLayout>
    </StackLayout>
</ScrollView>