@-webkit-keyframes fadeInUpBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
      transform: translate3d(0, 2000px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUpBig {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
      transform: translate3d(0, 2000px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  

Label{
    font-size: 20;
    color: black;
    border-bottom-color: lightgray;
    border-bottom-width: 1;
    margin-bottom: 10;
}

.page{
    height: 40%;
    width: 100%;
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
    animation-duration: 2s;
    vertical-align: bottom;

}

Button{
  height: 60;
  border-radius: 50%;
}